.hero {
    height: 100vh;
    width: 100%;
    background: linear-gradient(rgba(0, 0, 0, 0.7),
            rgba(0, 0, 0, 0.7)),
        url("public/images/coffe.jpg");
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
}

.hero-content {
    text-align: center;
    color: white;
}

.hero-content h1 {
    font-size: 3rem;
    margin-bottom: 1rem;
}

.hero-content p {
    font-size: 1.2rem;
    margin-bottom: 2rem;
}

.hero-content button {
    padding: 12px 30px;
    border: none;
    background: #cfa670;
    color: black;
    font-size: 1rem;
    border-radius: 30px;
    cursor: pointer;
}