.produk-section {
    padding: 80px 5%;
    background-color: #0c0c0c;
    color: white;
}

.section-header {
    text-align: center;
    margin-bottom: 50px;
}

.section-header h1 {
    font-size: 2.5rem;
    margin-top: 18px;
}

.produk-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
    gap: 30px;
}

.produk-card {
    background: #161616;
    border-radius: 20px;
    overflow: hidden;
    position: relative;
    border: 1px solid #222;
    transition: 0.4s;
}

.produk-card:hover {
    transform: translateY(-10px);
    border-color: #cfa670;
}

.produk-badge {
    position: absolute;
    top: 15px;
    left: 15px;
    background: #cfa670;
    color: #000;
    padding: 5px 12px;
    font-size: 0.7rem;
    font-weight: bold;
    border-radius: 20px;
    z-index: 2;
}

.produk-img img {
    width: 100%;
    height: 250px;
    object-fit: cover;
    transition: 0.5s;
}

.produk-card:hover .produk-img img {
    transform: scale(1.1);
}

.produk-detail {
    padding: 25px;
    text-align: center;
}

.produk-detail h4 {
    font-size: 1.4rem;
    margin-bottom: 8px;
}

.produk-detail .price {
    color: #cfa670;
    font-size: 1.2rem;
    font-weight: bold;
    margin-bottom: 20px;
}

.btn-pesan {
    width: 100%;
    background: transparent;
    border: 2px solid #cfa670;
    color: #cfa670;
    padding: 12px;
    border-radius: 30px;
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s;
}

.btn-pesan:hover {
    background: #cfa670;
    color: #000;
}

/* Modal Style */

.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, alpha0.9);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10000;
    padding: 20px;
}

.modal-content {
    background: #1a1a1a;
    width: 100%;
    max-width: 400px;
    padding: 30px;
    border-radius: 25px;
    border: 1px solid #cfa670;
}

.order-form {
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-top: 20px;
}

.order-form input,
.order-form textarea {
    padding: 12px;
    background: #252525;
    border: 1px solid #333;
    color: white;
    border-radius: 10px;
    outline: none;
}

.modal-actions {
    display: flex;
    gap: 10px;
}

.btn-confirm {
    flex: 2;
    background: #cfa670;
    border: none;
    padding: 12px;
    border-radius: 10px;
    font-weight: bold;
    cursor: pointer;
}

.btn-cancel {
    flex: 1;
    background: #333;
    color: white;
    border: none;
    padding: 12px;
    border-radius: 10px;
    cursor: pointer;
}